<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fzm.walletmodule" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application>
        <activity
            android:name=".ui.activity.ExchangeActivity"
            android:label="@string/label_exchange"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <!-- <activity -->
        <!-- android:name=".ui.activity.WebAppDetailsActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".ui.activity.AddCoinActivity"
            android:exported="false" />
        <!-- <activity -->
        <!-- android:name=".ui.activity.WebAppDetailsActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".ui.activity.InActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.OutActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MyWalletsActivity"
            android:label="@string/my_wallets_chose1"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CaptureCustomActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ChangePasswordActivity"
            android:label="@string/change_password"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateUnchanged|stateHidden" />
        <activity
            android:name=".ui.activity.SetPasswordActivity"
            android:label="@string/title_set_pwd"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CheckMnemActivity"
            android:label="校验助记词"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WalletDetailsActivity"
            android:label="@string/title_wallet_details"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.BackUpWalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CreateMnemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CreateWalletActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.MnemPasswordActivity"
            android:label="@string/title_set_pwd" />
        <activity
            android:name=".ui.activity.ImportWalletActivity"
            android:label="@string/my_import_wallet"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.TransactionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.TransactionDetailsActivity"
            android:label="@string/title_transaction_details"
            android:screenOrientation="portrait" />
    </application>

</manifest>